.MV {
  background-color: #f1f9fe;
}

.MV-section1VM {
  margin-top: -170px;
  background-image: url("../../Images/Layer1.png");
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 120vh;
  margin-top: -230;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ved-sec1 {
  margin-top: -190px;
  margin-bottom: -235px;
  display: flex;
  justify-content: center;
}
.ved-sec1 img {
  border-radius: 20px;
}
.btn-div2 {
  gap: 20px;
}

.MV .MV-section1 {
  margin: 5em 0em;
}

.MV-section1VM h1 {
  font-size: 4em;
  font-weight: 800;
  line-height: 1.2em;
}

.MV-section1VM p {
  font-size: 0.9em;
  line-height: 1.2em;
}

.MV-section1VM .main-button .getStartedButton {
  max-width: "20em";
  font-weight: 700;
  font-size: 0.8em;
  box-shadow: 0px 0px 20px 10px #ad35d940;
  border-radius: 25px;
  padding: 10px !important;
  border: none;
}

.MV .MV-section1 .first-section {
  margin-top: -170px;
  background-image: url("../../Images/Layer1.png");
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MV .MV-section1 .first-section img {
  width: 55vw;
}

.MV .MV-section1 .MV-logos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  transform: scale(0.6);
}
.Logo-img {
  margin: 0px 5px;
}
.MV .MV-section1 .getstart {
  display: flex;
  justify-content: center;
}

.MV .MV-section1 .getstart-heading {
  margin: 5em;
  font-size: 0.8em;
  padding: 1em;
  width: 30%;
  border-radius: 30px;
  font-weight: 900;
  background-color: #ede1f8;
}

.MV .MV-section1 .getstart-heading span {
  margin-left: 0.3em;
}

.MV .MV-section1 .spacing {
  padding-top: 2em;
}

.MV .MV-section1 .spacing .ser-inerdiv {
  margin: 380px 23px 57px 13px;
}

.MV .MV-section1 .trst-txt-div p {
  margin: 0;
  font-size: 18px;
  color: #000000;
  font-weight: 800;
  padding: 0;
}

.MV .MV-section1 .trst-txt-div h3 {
  font-size: 70px;
  width: 920px;
  margin-left: -30px;
  transform: scale(0.95);
  font-weight: 800;
  color: #333;
}

.MV .MV-section1 .trst-txt-div {
  padding: 70px 0px 0px 50px;
}

.MV .MV-section1 p.gap {
  width: 560px;
  padding: 8px 0 40px 0;
  font-weight: 600;
}

.MV .MV-section1 .txt-div {
  width: 100%;
}

.MV .MV-section1 .txt-div h2 {
  font-size: 70px;
  padding: 0 0 22px 0;
}

.hera-What-cont {
  transform: scale(0.7);
}

.trans {
  transform: scale(0.9);
}
.MV-section3 {
  margin-top: 10rem;
}
.MV .MV-section3 .trst-txt-div3 {
  padding: 120px 0px 0px 0px;
}

.MV .MV-section3 .trst-txt-div3 p {
  margin: 0;
  width: 680px;
  font-size: 18px;
  color: gray;
  font-weight: 900;
  padding: 0;
}

.MV .MV-section3 .trst-txt-div3 h3 {
  font-size: 70px;
  width: 850px;
  font-weight: 900;
  color: #333;
}

.request {
  margin-top: -260px;
  margin-bottom: -360px;
  display: flex;
  padding-top: 270px;

  background-repeat: no-repeat;
  height: 170vh;
  background-image: url(../../Images/bg-tnlimited.png);
  background-position: center;
}

.MV .MV-section3 .sec-card3 {
  margin: 0 auto 0 auto;
  border-radius: 25px;
}

.MV .MV-section3 .purple-section {
  margin-top: 17em;
  height: 25vh;
}

.MV .MV-section3 .purple-section .content {
  margin: 1em;
}

.MV .MV-section3 .purple-section h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1em;
}

.MV .MV-section3 .purple-section h6 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1em;
}

.MV .MV-section3 .singing-image {
  position: absolute;
  top: -40%;
  right: 0;
}

.MV .MV-section3 .main-button .getStartedButton {
  max-width: "22em";
  font-weight: 700;
  font-size: 0.8em;
  box-shadow: 0px 0px 20px 10px #ad35d940;
  border-radius: 25px;
  padding: 1em 3em;
  border: none;
  margin-top: 1em;
}

.main-button .getStartedButton1 {
  max-width: "22em";
  font-weight: 700;
  font-size: 0.8em;
  box-shadow: 0px 0px 20px 10px #ad35d940;
  border-radius: 25px;
  padding: 1.5em 3em;
  border: none;
  margin-top: 5em;
}

.MV .MV-section3 .third-carousel {
  margin-top: 5em;
}

.MV .MV-section3 .txt-div h4 {
  font-size: 18px;
  font-weight: 800;
  padding: 0 0 0px 0;
}

.MV .MV-section3 .txt-div h2 {
  font-weight: 800;
  font-size: 70px;
  padding: 0 0 22px 0;
}

.MV .MV-section3 .headings {
  margin: 2em 0em;
  transform: scale(0.8);
}

.MV .MV-section3 .headingpara {
  transform: scale(0.85);
}

.MV .MV-section3 .para-heading {
  font-size: 0.8em;
  padding: 1em;
  width: 10%;
  margin: 2px;
  border-radius: 30px;
  font-weight: 700;
  color: #ad35d9;
  background-color: #efe5ed;
}

.MV .MV-section3 .blog-content {
  margin-top: 4em;
}

.ourblog_cont {
  transform: scale(0.8);
}

.MV .MV-section3 .blog-content p {
  font-size: 1em;
  font-weight: 700;
}

.MV .MV-section3 .blog-content h3 {
  font-size: 3.5em;
  font-weight: 700;
}

.MV .MV-section3 .blog-img {
  display: flex;

  transform: scale(1.01);
  justify-content: center;
}

.MV .MV-section3 .blog-img img {
  width: 100%;
  height: 30vh;
  padding: 0.5em 0.5em 1em 0.5em;
  border-radius: 25px;
}

.MV .MV-section3 .blog-img-single {
  background-color: white;
  margin: 1em;
  width: 260px;
  border: 1px solid #ad35d940;
  border-radius: 25px;
  font-weight: 700;
}

.MV .MV-section3 .blog-img-single p {
  padding: 0px 10px;
}
.ContractsCont {
  margin-top: 20px;
  margin-bottom: -230px;
}
.Contracts {
  display: flex;
  transform: scale(0.8);
  align-items: center;
  flex-direction: column;
}

.Contracts h2 {
  font-weight: 600;
}

.Contracts p {
  font-weight: 600;
}
.hIWCont {
  display: flex;
  justify-content: center;
}
.MV-section2 h2 {
  font-weight: 600;
}
.customVideo {
  background-color: red;
  height: 600px;
  width: 100px;
}
.processCont {
  transform: scale(0.75);
  display: flex;

  /* flex-direction: row; */
  background-image: url(../../Images/Group16.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
}

.hwdCont {
  display: flex;
}
.hDICard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.hDICard2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hDICard3 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hDICard img {
  margin-top: 20px;

  border-radius: 100px;
  padding: 20px;
  background-color: white;
}

.hDICard2 img {
  border-radius: 100px;
  padding: 20px 30px;
  background-color: white;
}
.hDICard3 img {
  border-radius: 100px;
  padding: 20px 10px;
  background-color: white;
}
.imageTag {
  /* background-color: rebeccapurple; */
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bgcolor-div {
  padding: 3rem 0rem 5rem 0rem;
  background-color: #f2effa;
}
.wavesCont {
  margin-top: 200px;
  display: flex;
  background-image: url(../../Images/waves.png);
  background-repeat: no-repeat;
  background-size: 57%;
  /* background-position: 60%; */
  height: 200px;
}
.wavesmain {
  padding-left: -130px;
  display: flex;
}
.Wave2Contant {
  transform: scale(0.95);
  margin-top: -200px;
}
.Wave2Contant h1 {
  font-weight: 600;
  font-size: 50px;
}
.Wave2Contant p {
  font-weight: 600;
  font-size: 11px;
}
.Wave2 {
  margin-top: 120px;
  position: absolute;
  margin-left: 480px;
  background-image: url(../../Images/Layerdiv.png);
  background-repeat: no-repeat;
  transform: scale(1.3);
  background-size: contain;
  padding: 30px 0px 10px 10px;
}
.items {
  transform: scale(0.8);
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}
.items p {
  width: 170px;
  font-size: 11px;
}

.hoverbtn {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  opacity: 0 !important;
  z-index: 2 !important;
  margin-top: 220px !important;
  margin-left: 160px !important;
}

.hoverbtn:hover {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  opacity: 0.7 !important;
  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  z-index: 2 !important;
  margin-left: 160px !important;
}
.hoverbtn1 {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  opacity: 0 !important;
  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  margin-top: 220px !important;

  z-index: 2 !important;
  margin-left: 45% !important;
}
.hoverbtn1:hover {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  opacity: 0.7 !important;
  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  z-index: 2 !important;
  margin-left: 45% !important;
}
.hoverbtn2 {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  opacity: 0 !important;
  margin-top: 220px !important;

  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  z-index: 2 !important;
  margin-left: 76% !important;
}
.hoverbtn2:hover {
  background-image: url("../../Images/play.png") !important;
  background-repeat: no-repeat !important;
  height: 100px !important;
  opacity: 0.7 !important;
  background-size: 100% !important;
  position: absolute !important;
  width: 90px !important;
  z-index: 2 !important;
  margin-left: 76% !important;
}

@media only screen and (max-width: 595px) {
  #mbmvsection {
    margin-top: -120px;
  }
  #mbmvsection h1 {
    font-size: 26px;
  }
  .ved-sec1 {
    margin-top: -280px;
    margin-bottom: -435px;
    display: flex;
    justify-content: center;
  }
  .ved-sec1 img {
    width: 90%;
  }
  .woman-img {
    margin-left: -200px;
    margin-bottom: -200px;
  }
  #intro-div {
    width: 100%;
    margin-left: -110px;
  }

  #intro-div h3 {
    margin-left: -90px;
    transform: scale(0.78);
  }
  .large-audience {
    width: 100%;
  }
  .carousalb {
    margin-top: -50px;
  }
  #taglist {
    margin-top: -190px !important;
    width: 400%;
    transform: scale(0.57);
    margin-left: -560px;
  }
  .bgcolor-div {
    margin-top: -180px;
    padding-top: -130px;
  }
  #btndiv {
    margin-top: -20px;
    margin-bottom: -25rem;
    width: 100%;
  }

  .wavesCont {
    margin-bottom: -30px;
    margin-top: -200px !important;
  }
  .wavesmain {
    padding-left: -130px !important;
    display: flex;
  }
  .Wave2Contant {
    transform: scale(0.95);
  }
  .Wave2Contant h1 {
    font-weight: 600 !important;
    font-size: 20px !important;
  }
  .Wave2Contant p {
    font-weight: 600;
    font-size: 11px;
  }
  .Wave2 {
    margin-top: 10rem !important;
    margin-left: 63px !important;
    transform: scale(1.3) !important;
  }
  .items {
    transform: scale(0.8) !important;
    margin-left: -12px;
  }
  #podcasthead {
    font-size: 12px;
  }
  .items p {
    width: 90px !important;
    font-size: 8px !important;
  }
  #mdmobdiv {
    padding-top: 40px;
  }

  .processCont {
    margin-top: 20px;
    transform: scale(1) !important;
    height: 140vh !important;
  }

  .hwdCont {
    background-color: #f2effa;
    display: flex !important;
    flex-direction: column !important;
  }

  .hDICard img {
    margin-bottom: 10px;
  }

  .hDICard2 img {
    margin-bottom: 10px;
  }
  .hDICard3 img {
    margin-bottom: 10px;
  }
  #textColorb {
    color: black !important;
  }
  #vidcont {
    margin-bottom: -13rem;
  }
  #intro2 {
    margin-left: -20px;
    margin-top: -120px !important;
  }
  #intro2 h3 {
    font-size: 45px;
  }
  .btn-div2 {
    width: 130%;
    margin-left: -20px;
  }
  .mbwoman img {
    width: 150%;
    margin-top: -90px;
    margin-bottom: 270px;
  }
  #main {
    max-width: 100%;
    overflow: hidden;
  }
}
